<div class="banner-silder">
	<div id="JiSlider" class="jislider">
		<ul>
			<li>
				<div class="w3layouts-banner-top">

						<div class="container">
							<div class="agileits-banner-info">

								<h3>Sed blandit massa vel </h3>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

							</div>
						</div>
					</div>
			</li>
			<li>
					<div class="w3layouts-banner-top w3layouts-banner-top1">
					<div class="container">
							<div class="agileits-banner-info">

								<h3>Ipsum dolor sit amet</h3>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

							</div>
						</div>
					</div>
			</li>
			<li>
					<div class="w3layouts-banner-top w3layouts-banner-top2">
						<div class="container">
							<div class="agileits-banner-info">

								<h3>Consectetur adipiscing elit</h3>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

							</div>

						</div>
					</div>
				</li>
				<li>
					<div class="w3layouts-banner-top w3layouts-banner-top3">
						<div class="container">
							<div class="agileits-banner-info">

								<h3>Blandit massa vel mauris</h3>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

							</div>

						</div>
					</div>
				</li>
		</ul>
	</div>
</div>
