<div class="banner-silder">
	<div id="JiSlider" class="jislider">
		<ul>
		<% (0..4).each do |index| %>
			<li>
				<div class="w3layouts-banner-top <%= "w3layouts-banner-top#{index}" if index > 0 %>">

						<div class="container">
							<div class="agileits-banner-info">

							</div>
						</div>
					</div>
			</li>
		<% end %>
		</ul>
	</div>
</div>
