<div class="footer">
	<div class="container">
		<div class="agile_footer_copy">
			<div class="w3agile_footer_grids">
				<div class="col-md-4 w3agile_footer_grid">
					<h3>About Us</h3>
					<p>We are Vavimex Company Limited. We are an expert supplier in green energy field which is located in Agricultural country Viet Nam.<span>We have been staying here to export rice husk pellets, rice husk powder, rice husk ash, rice husk and commodities related to waste products from Agriculture..</span></p>
				</div>
				<div class="col-md-4 w3agile_footer_grid">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>No 176/2, TA 16 Street, Quarter 2, Thoi An Ward, District 12.<span>Ho Chi Minh City.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:httvan@vavimex.com">httvan@vavimex.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:+84909597667">+84 909 59 7667</a></li>
					</ul>
				</div>
				<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
					<h3>Navigation</h3>
					<ul>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><%= link_to "Home", root_path, "data-turbolinks": false %></li>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							<%= link_to "Product", root_path(anchor: "products"), "data-turbolinks": false %>
						</li>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							<%= link_to "About", root_path(anchor: "about"), "data-turbolinks": false %>
						</li>
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							<%= link_to "Contact", root_path(anchor: "contact"), "data-turbolinks": false %>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
