<div class="about" id="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-6 about-left_w3ls_img">

			</div>
			<div class="col-md-6 about-right_w3ls">
			  <div class="about-top_agile_its">
					<h2>About</h2>
					<p>Dear Valued Customers,
					Greetings!</p>
					<p>We are Vavimex Company Limited. We are an expert supplier in green energy field which is located in Agricultural country Viet Nam. </p>
					<p>We have been staying here to export rice husk pellets, rice husk powder, rice husk ash, rice husk and commodities related to waste products from Agriculture. </p>
					<p>Not only that,  Our strong point would be our location being next to Mekong Delta river where the largest source of rice yield is located. We also have spacious warehouse and we have a supplier network guaranteed of stable quantity supplied, as they are the most potential rice mills in the Southern of Vietnam, and are Vietnam's biggest rice husk pellets factories. We with a pioneering spirit, will never stop learning, researching, developing and expand our supplier network in order to serve our customers to the maximum who have great demand such as ceramic tile manufacturers, calcite material manufacturers, the food processing industry in the world and heating  etc. At the same time, we always encourage and remind our manufacturers to never stop improving the quality of our products and increasing producing efficiency. We are keeping track of the supplier’s processing to always have a discipline system in processing in order to control the quality. That is the reason why we confidently believe that we have enough ability about Quality and Quantity to supply large volume of long-term stability for the above commodities. </p>
					<span>
						We believe that we deserve your trust.
						Thanks for spending time.
						Sincerely and Best Regard!
						The Vavimex Team
					</span>
			  </div>
		  </div>
	    <div class="clearfix"> </div>
    </div>
	</div>
</div>
