<div class="news">
	<div class="container">
		<h3 class="wthree_head">News</h3>
		<p class="w3l_sub_para_agile">Curabitur quis egestas diam</p>
		<div class="w3-agileits-news-grids">
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g1.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Donec justo ante, maximus et aliquam et, elementum ac purus. Nam eget ante ac velit laoreet sodales ut vel nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g2.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Nam eget ante ac velit laoreet sodales ut vel nibh. Donec justo ante, maximus et aliquam et, elementum ac purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="w3-agileits-news-grids  news-w3row2">
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g4.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Donec justo ante, maximus et aliquam et, elementum ac purus. Nam eget ante ac velit laoreet sodales ut vel nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g3.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Nam eget ante ac velit laoreet sodales ut vel nibh. Donec justo ante, maximus et aliquam et, elementum ac purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
